.accommodation_head-host {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  .accommodation_host-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    p {
      color: $secondary-font-color;
      font-size: 18px;
      font-weight: 500;
      text-align: end;
    }
  }
  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
}
