.slideshow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .slideshow_image {
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
  }
  .arrowleft,
  .arrowright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 47px;
    cursor: pointer;
  }
  .arrowleft {
    left: 10px;
  }
  .arrowright {
    right: 10px;
  }
  p {
    position: absolute;
    bottom: 10px;
    color: $primary-font-color;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 1024px) {
  .slideshow {
    .slideshow_image {
      height: 335px;
      border-radius: 18px;
    }
    .arrowleft,
    .arrowright {
      width: 30px;
    }
    .arrowleft {
      left: 8px;
    }
    .arrowright {
      right: 8px;
    }
    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 426px) {
  .slideshow {
    .slideshow_image {
      height: 255px;
      border-radius: 10px;
    }
    .arrowleft,
    .arrowright {
      width: 11.5px;
    }
    .arrowleft {
      left: 5px;
    }
    .arrowright {
      right: 5px;
    }
    p {
      font-size: 0;
    }
  }
}
