$primary-font-color: #ffffff;
$secondary-font-color: #ff6060;
$tertiary-font-color: #000000;
$primary-color: #ff6060;
$background: #ffffff;
$components-background: #f6f6f6;
$footer-background: #000000;
