.accommodation {
  margin: 50px 100px;
  display: flex;
  flex-direction: column;
  &_head {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    &-title {
      display: flex;
      flex-direction: column;
      h1 {
        color: $secondary-font-color;
        font-size: 36px;
        font-weight: 500;
      }
      h2 {
        margin-top: 10px;
        color: $tertiary-font-color;
        font-size: 18px;
        font-weight: 500;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  &_content {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 76px;
  }
}

@media (max-width: 1024px) {
  .accommodation {
    margin: 39px 60px;
    &_head {
      &-title {
        h1 {
          font-size: 27px;
        }
        h2 {
          margin-top: 8px;
          font-size: 16px;
        }
      }
      &-info {
        gap: 13px;
      }
    }
    &_content {
      margin-top: 19px;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}

@media (max-width: 426px) {
  .accommodation {
    margin: 27px 20px;
    &_head {
      flex-direction: column;
      &-title {
        h1 {
          font-size: 18px;
        }
        h2 {
          margin-top: 5px;
          font-size: 14px;
        }
      }
      &-info {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 10px;
        margin-top: 16px;
      }
    }
    &_content {
      margin-top: 13px;
    }
  }
}